footer.footer
  .container
    .content(class=[theme.footer.class])
      if(theme.footer.content)
        != renderPage(theme.footer.content)
      else
        p
          | <strong>BulmHex</strong> by <a href="http://baibalab.net">BaibaLab</a>. The source code is licensed
          | <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          | is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">by-nc-sa</a>.
        p
          |<a class="icon" href="https://gitlab.com/baibalab/bulmhex">
          |  <i class="fa fa-code"></i>
          |</a>
