mixin a_with_current(href, content, id)
  - var url = url_for(href)
  if (href == '.' && (is_home() || is_post())) || is_current(href)
    a.header-tab.is-active(href=url)
      i(class='fa' + ' ' + id, style="vertical-align: baseline;") 
      = ' ' + content
  else if (href == 'archives/' && is_tag())
    a.header-tab.is-active(href=url)
      i(class='fa' + ' ' + id, style="vertical-align: baseline;") 
      = ' ' + content
  else if (href == 'archives/' && is_category())
    a.header-tab.is-active(href=url)
      i(class='fa' + ' ' + id, style="vertical-align: baseline;") 
      = ' ' + content
  else
    a.header-tab(href=url)
      i(class='fa' + ' ' + id, style="vertical-align: baseline;") 
      = ' ' + content

mixin title(page)
  if page
    if page.title
      = page.title
    else
      = _p('no-title')
