if page.next || page.prev
  hr
  nav.pagination
    if page.prev
      a(href=url_for(page.prev_link ? page.prev_link : page.prev.path))
        i.fa.fa-angle-left(style="vertical-align: baseline;")
        = ' ' + page.prev.title
    ul
    if page.next
      a(href=url_for(page.next_link ? page.next_link : page.next.path))
        = page.next.title + ' '
        i.fa.fa-angle-right(style="vertical-align: baseline;")
