aside.menu
  p.menu-label= __('blogroll')
  ul.menu-list
    - for (var i in theme.links)
      li
        a(href='#{theme.links[i].url}' title='#{theme.links[i].title}' target='_blank') #{theme.links[i].title}
