extends base
- var current_title = page.title || tag.name || category.name || site.title

block title
  title= config.title + ' | ' + config.subtitle
block content
  .content
    for post in page.posts.toArray()
      //- section.section
      .container
        .heading
          h1.title
            include _partial/helpers
            a(href=url_for(post.path))
              +title(post)
            small= ' '+post.date.format(config.date_format) 
      if post.description
        .post-content
          != post.description
      else if post.excerpt
        .post-content
          != post.excerpt
      else if post.content
        - var br = post.content.indexOf('\n')
        if br < 0
          .post-content
            != post.content
        else
          .post-content
            != post.content.substring(0, br)
      p(class='readmore')
        a.button.is-pulled-right(href=url_for(post.path))= __('Readmore')

    include _partial/paginator
