extends base
block title
  title= page.title + ' | ' + config.title
block content
  .columns
    if(page.menu)
      .column.is-quarter
        aside.menu
          p.menu-label= page.title
          ul.menu-list
            - for (var i in page.menu)
              li
                a(href='##{page.menu[i].id}' title='#{page.menu[i].title}') #{page.menu[i].title}
                if(page.menu[i].submenu)
                  ul
                    - for (var j in page.menu[i].submenu)
                      li
                        a(href='##{page.menu[i].submenu[j].id}' title='#{page.menu[i].submenu[j].title}') #{page.menu[i].submenu[j].title}

    .column
      .content
        h1.post-title= page.title
        != page.content
