extends base

block title
  title= page.title + ' | ' + config.title

block content
  .content
    h1.post-title= page.title
    .post-meta.notification= page.date.format('ll')
      if page.categories.length > 0
        span= ' | Categories: '
        for category, key in page.categories.toArray()
          a(href=url_for(category.path))= category.name
          if(key < page.categories.length-1 )
            != ' > '
      if page.tags.length>0
        span= ' | ' +  __('tags') + ': '
        for tag, key in page.tags.toArray()
          a(href=url_for(tag.path))= tag.name 
          if(key < page.tags.length-1 )
            | , 
    if page.toc
      div(class='clear')
        div(id='toc' class='toc-article')
          div(class='toc-title')= __('contents')
          != toc(page.content)
    .post-content
      != page.content
    include _partial/post_nav
